
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;

}
html{
    scroll-behavior: smooth;
}
header{
    display: flex;
    align-items: center;
    justify-content:center
}
.horizontal-list{
    display: flex;
    gap: 5rem;
    list-style: none;
    margin-top: 1.5rem;
    color: white;
    padding: 6px 15px;

}

body{
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de)
}

li> a{
    
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    z-index: 10;

}
li >a:hover{

    border-radius: 50px;
    background-color:azure;
    color: black;

}

#st{
   position: relative;
   width: 100%;
   height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}


#horizon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    object-fit: cover;
    z-index: -1; /* Coloca la imagen detrás del contenido */

}






#Languages{
    display: flex;
}

#Projects{
    display: flex;
}

#photo{
    height: 30vh;
    border-radius: 20%;
    float: left;
    margin-right: 40px;
    margin-left: 40px;
}
#Resume {
    margin-top: 150px;
    display: flex;    
    gap: 8rem;
    justify-content: center;
    align-items: center;
        

}
.resume-content > h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    color: white;

}

.resume-content > h3 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
    color: white;


}
/*
#ResumeLeft {
    display: flex;
    
}
*/

/*
#ResumeLeft >div > p {
    margin-top: 60px;
    display: flex;
    max-width: 250px;
    color: white;
    
}
*/
#Education_Header, #Skills_Header{
    position: relative;
    margin-top: 120px;
    display: flex;
    flex-wrap: nowrap;
    height: 200px;
   
}
#Education_Header > h2{
    position: absolute;
    left: 170px;
    color: black;
    top: 70px;

}

#Education{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 400px;
}
#Education  .EducationDivInf{
    display: flex;
    flex-basis: 300px;
    background-color:bisque;
    border-radius: 30px;

}
#Skills_Header > h2 {
    position: absolute;
    left: 270px;
    top: 90px;
}










  .text-with-line::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 260px; /* Coloca la línea justo después del texto */
    height: 1px;
    width: 890%; /* Ajusta el ancho de la línea */
    background: black;
    transform: translateY(-50%) scaleX(1.2); /* Posiciona y alarga la línea */
    border-top: 2px solid black;
    border-radius: 5px; /* Esto puede crear un efecto curvo */
    transition: all 0.3s ease-in-out;
}

.dynamic-text {
    text-align: center;
    margin: 0;
    opacity: 0;                 /* El texto empieza invisible */
    white-space: nowrap;        /* Evita que el texto se divida en varias líneas */
    overflow: hidden;           /* Oculta el texto que no ha aparecido aún */
    border-right: 2px solid;    /* Simula un cursor que parpadea */
    width: 0ch;                 /* La anchura comienza desde 0 caracteres */
    animation:
      typing 2s steps(30, end) forwards,
      blink 0.75s step-end infinite,
      fadeIn 3s ease forwards;
  }


  
  @keyframes typing {
    from { width: 0ch; }        /* Empieza desde 0 caracteres */
    to { width: 22ch; }         /* Ajusta esto dependiendo del número de caracteres */
  }
  
  @keyframes blink {
    0% { border-color: transparent; }
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  @keyframes typingRole {
    from { width: 0ch; }        /* Empieza desde 0 caracteres */
    to { width: 19ch; }         /* Ajusta esto según la longitud del segundo texto (19 caracteres en este caso) */
  }




  .social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #2b1055;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem ;

  }

  .social-icons a:hover{
        color: black;
        transform: scale(1.3) translateY(-5px);
        background-color:orange;
        box-shadow:0 0 25px orange ;


  }
  span{
    color: orange;
  }
  

